.button{
    background:$oil-green;
    color: white;
    font-size:$font-sz-large ;
    font-family: Arial, Helvetica, sans-serif;
    padding:$s-size;
    font-weight: 300;
    text-decoration: none; 
    text-align: center;
    display: inline-block;
    border:none;
    
}