//rem

*{
    box-sizing:border-box;
}

html{
    font-size:62.5%
}
body{
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size:$med-size;
    background-color: white;
    //color:$dark-or;
    color:$dark-or;
    line-height:1.6;
}

h1{
    font-size: 2.8rem;
}


button{
    cursor:pointer;
    color:$xlight-blue
}

button:disabled{
    cursor:default;
    size: $l-size;
}

.is-active{
    font-weight:bold
}