// colors
$dark-purple:#000bb9;
$oil-green:#3a4116;
$army-green:#506535;
$dark-or:#6a2f17;
$ligh-or:#8f7a36;
$xlight-or:#FFF3E0;
$or:#964621;
$marine:#5289a4;
$dark-marine:#17526a;

//font size
$font-sz-large:1.8rem;
$font-sz-s:1.4rem;
//spacing
$s-size:1.2rem;
$med-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;

