// colors
$dark-purple:#000bb9;
$oil-green:#3a4116;
$dark-or:#6a2f17;

//font size
$font-sz-large:1.8rem;

//spacing
$s-size:1.2rem;
$med-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;

